@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

#root {
  margin: auto;
  font-family: "Poppins";
  text-align: center;
}

body {
  background: #1b202c url("./assets/Lines.svg") no-repeat fixed center 40%;
}
