/* @import url("https://fonts.googleapis.com/css?family=Poppins&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;600&display=swap");

#root {
  margin: auto;
  font-family: "Poppins";
  text-align: center;
}

body {
  background: #1b202c url("./assets/Lines.svg") repeat-x fixed center 40%;
}
